<form action="" id="formBuscar" name="fromBuscar">
	<div class="row">
		<div class="input-group">
				<input id="buscar_texto" name="buscar_texto" type="text" class="form-control" placeholder="Buscar" aria-describedby="basic-addon1">

				<span class="input-group-addon" id="basic-addon1" ng-click="buscarTitulos()">
						<i class="fa fa-search" aria-hidden="true"></i>
				</span>
		</div>
	</div>
</form>
