<div class="updates mt-5 mb-5">
	<i class="fa fa-server" aria-hidden="true"></i>

	<div class="div-strong">
		Categorías
	</div>
	<div id="cuerpo_categorias">
		<div ng-repeat="categoria in categorias_blog track by $index" class="cat_blog">
	        <div id="" ng-click="seleccionar_categoria(categoria.id,categoria.descripcion)">
	        	<a href="{{base_url}}buscador/categorias/{{categoria.id}}" target="_self">
	           	<i class="fa fa-square" aria-hidden="true" style="font-size: 8pt;"></i> {{categoria.descripcion}}
	        	</a>
	        </div>
	    </div>
	</div>
</div>