<div class="panel-body ng-scope mb-5" >
	<div class="card card-body text-center wow fadeInUp animated animated mt-3">
		<div class="card-ribbon card-ribbon-top card-ribbon-right bg-faded ">
			<div class="icon-box-icon">
				<div class="">
				<a href="{{base_url}}{{publicidad.url}}" class=""><img class="img-responsive servicios" ng-src="{{base_url}}{{publicidad.ruta}}"></a> 
				</div>
			</div>
		</div>
		<h4 class="card-title-publicidad ng-binding">
			{{publicidad.titulo}}
		</h4>
		<p ng-bind-html="publicidad.descripcion"></p>
	</div>
</div>

